.frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

.topRow {
  display: grid;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.summaryCard {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.summaryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  font-size: 16px;
}

.summaryItem {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleRow {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.innerGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 20px;
  align-items: center;
  text-align: left;
}

.chartCard {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  padding: 5px 8px;
  flex-direction: column;
}

.redCenter {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-bottom: 5px;
}
.label {
  justify-self: start;
  color: #000;
  font-size: 16px;
}
.value {
  justify-self: end;
  color: #000;
  font-size: 16px;
}

@media (max-width: 1400px) {
  .title {
    font-size: 20px
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .strong {
    font-size: 12px;
  }
  .redCenter {
    font-size: 13px;
  }
  .label {
    font-size: 11px;
  }
  .value {
    font-size: 11px;
  }
  .title {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .chartCard {
    padding: 5px 8px;
  }
  .strong {
    font-size: 12px;
  }
  .redCenter {
    font-size: 12px;
  }
  .label {
    font-size: 11px;
  }
  .value {
    font-size: 11px;
  }
  .title {
    font-size: 14px;
  }
}
