.frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

.topRow {
  display: grid;
  margin-bottom: 10px;
}

.summaryCard {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.summaryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  font-size: 16px;
}

.summaryItem {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryItem strong {
  font-size: 18px;
  margin-top: 5px;
}

.summaryItemFull {
  grid-column: 1 / 3;
}

.middleRow {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.chartCard {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
  text-align: center;
}

.redCenter {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-bottom: 5px;
}

.innerGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 20px;
  align-items: center;
  text-align: left;
}

.label {
  justify-self: start;
  color: #000;
  font-size: 16px;
}

.value {
  justify-self: end;
  color: #000;
  font-size: 16px;
}
