.radioGroup:dir(ltr) {
  margin-left: 9px; 
}
.radioGroup:dir(rtl) {
  margin-right: 9px; 
}


.radio :global(.MuiSvgIcon-root) {
  font-size: 18px;  
  margin: 5px;   
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .radio :global(.MuiSvgIcon-root) {
    font-size: 14px;         
  }
}

@media (max-width: 1280px) {
  .radioGroup:dir(ltr) {
    margin-left: 4px; 
  }
  .radioGroup:dir(rtl) {
    margin-right: 4px; 
  }

  .formControl :global(.MuiFormControlLabel-label) {
    padding: 0 !important;
    margin: 0 !important;
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 14px;   
    margin: -3px !important;      
  }
}

@media (max-width: 1024px) {
  .radio :global(.MuiSvgIcon-root) {
    font-size: 13px; 
    margin: -5px !important;      
       
  }
}

@media (max-width: 768px) {
  .radio :global(.MuiSvgIcon-root) {
    font-size: 12px;        
  }
}

@media (max-width: 480px) {


  .radio :global(.MuiSvgIcon-root) {
    font-size: 11px;       
  }
}

@media (max-width: 360px) {


  .radio :global(.MuiSvgIcon-root) {
    font-size: 10px;        
  }
}
