.radioGroup {
  margin-left: 8px; 
}


.radio :global(.MuiSvgIcon-root) {
  font-size: 18px;  
      
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .radio :global(.MuiSvgIcon-root) {
    font-size: 16px;         
  }
}

@media (max-width: 1280px) {
  .formControl :global(.MuiFormControlLabel-label) {
    padding: 0 !important;
    margin: 0 !important;
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 14px;        
  }
}

@media (max-width: 1024px) {
 

  .radio :global(.MuiSvgIcon-root) {
    font-size: 13px;        
  }
}

@media (max-width: 768px) {


  .radio :global(.MuiSvgIcon-root) {
    font-size: 12px;        
  }
}

@media (max-width: 480px) {


  .radio :global(.MuiSvgIcon-root) {
    font-size: 11px;       
  }
}

@media (max-width: 360px) {


  .radio :global(.MuiSvgIcon-root) {
    font-size: 10px;        
  }
}
