.radioGroup {
  margin-left: 8px; 
}

.formControl :global(.MuiFormControlLabel-label) {
  font-size: 14px;           
}

.radio :global(.MuiSvgIcon-root) {
  font-size: 18px;          
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 12px;         
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 16px;         
  }
}

@media (max-width: 1280px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 11px;        
    padding: 0 !important;
    margin: 0 !important;
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 14px;        
  }
}

@media (max-width: 1024px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 10px;         
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 13px;        
  }
}

@media (max-width: 768px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 9px;          
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 12px;        
  }
}

@media (max-width: 480px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 8px;          
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 11px;       
  }
}

@media (max-width: 360px) {
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 7px;          
  }

  .radio :global(.MuiSvgIcon-root) {
    font-size: 10px;        
  }
}
