.chartWrapper {
  position: relative;
  width: 100%;
}

.canvasAbsFill {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvasAbs {
  position: absolute;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.canvasBlock {
  display: block;
  width: 100%;
  height: 100%;
}
