.customHijriDateTextField :global(.MuiOutlinedInput-root) {
  height: 33px !important;
}

.customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
  border-color: #959d9e;
  border-radius: 6px;
}

.noBorder :global(.MuiOutlinedInput-root fieldset) {
  border: none !important;
}

.customHijriDateTextField :global(.MuiInputLabel-root) {
  font-size: 14px !important;
}

.labelUnfocused :global(.MuiInputLabel-root) {
  top: -3px;
}

.labelFocused :global(.MuiInputLabel-root) {
  top: 0px;
}

.customHijriDateTextField :global(.MuiInputBase-input) {
  font-size: 14px !important;
  color: black;
}

.customHijriDateTextField :global(.MuiSvgIcon-root) {
  font-size: 18px;
}

.clearIconButton {
  padding: 2px !important;
  margin-right: -14px !important;
  min-width: 0 !important;
}

.eventIconButton {
  padding: 2px !important;
  margin-left: 4px !important;
  margin-right: -10px !important;
  min-width: 0 !important;
}

.dateIcon {
  border: 0;
  font-size: 18px !important;
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 30px !important;
  }

  .customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 5px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 12px !important;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 12px !important;
    top: 0px;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 12px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 16px;
  }

  .dateIcon {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 28px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 11px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 14px;
  }

  .dateIcon {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 26px !important;
  }

  .customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 4px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 10px !important;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 10px !important;
    top: 0px;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 10px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 13px;
  }

  .dateIcon {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 24px !important;
  }

  .customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 3px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 9px !important;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 9px !important;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 9px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 12px;
  }

  .dateIcon {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 22px !important;
  }

  .customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 2px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 8px !important;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 8px !important;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 8px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 11px;
  }

  .dateIcon {
    font-size: 11px !important;
  }
}

@media (max-width: 360px) {
  .customHijriDateTextField :global(.MuiOutlinedInput-root) {
    height: 20px !important;
  }

  .customHijriDateTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 2px !important;
  }

  .customHijriDateTextField :global(.MuiInputLabel-root) {
    font-size: 7px !important;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 7px !important;
  }

  .customHijriDateTextField :global(.MuiInputBase-input) {
    font-size: 7px !important;
  }

  .customHijriDateTextField :global(.MuiSvgIcon-root) {
    font-size: 10px;
  }

  .dateIcon {
    font-size: 10px !important;
  }
}
