<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <iisnode node_env="production" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" interceptor="%programfiles%\iisnode\interceptor.js" />

    <handlers>
      <add name="iisnode" path="server.js" verb="" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="React Routes" enabled="false" stopProcessing="true">
          <match url="." />
          <action type="Rewrite" url="/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^(api)" negate="true" />
          </conditions>
        </rule>
        <rule name="RemoveTrailingSlash" stopProcessing="true">
          <match url="(.)$" />
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
