.outlinedRoot {
  width: 100% !important;
  height: 33px !important;
}

.fieldLabel {
  white-space: normal !important;   
}

.outlinedNoBorder {
  border: none !important;
}

.inputLabel {
  font-size: 14px !important;

}

.inputBase::placeholder {
  font-size: 14px !important;
}


.iconButton {
  padding: 0px !important;
}

.icon {
  font-size: 17px !important;
  padding: 3px !important;
}

.outlinedRoot:dir(ltr) .inputAdornment {
  margin-right: 5px !important;
}
.outlinedRoot:dir(rtl) .inputAdornment {
  margin-left: 5px !important;
}

.outlinedFieldset {
  border-radius: 4px !important;
}

/* @media (min-width: 2048px) and (max-width: 2566px) {
  .outlinedRoot {
    height: 45px !important;
  }

  .inputLabel {
    font-size: 14px !important;
  }

  .inputLabelShrink {
    font-size: 16px !important;

  }

  .inputBase {
    font-size: 15.5px !important ;
  }

  .inputBase::placeholder {
    font-size: 14px !important;
  }

  .iconButton {
    padding: 0px !important;
  }
  .inputAdornment {
    padding: 7px !important;
    }

  .icon {
    font-size: 24px !important;
    padding: 0px !important;
  }


} */

@media (min-width: 1280px)  {
  .outlinedRoot {
    height: 30px !important;
    padding: 0px !important;
  }

  .inputLabel {
    font-size: 12px !important;
    top: -3px;
  }

  .inputLabelShrink {
    font-size: 14px !important;
    top: 0px;
  }

  .inputBase {
    font-size: 12px !important ;
  }

  .inputBase::placeholder {
    font-size: 12px !important;
  }
  .outlinedRoot:dir(ltr) .inputAdornment {
    margin-right: 5px !important;
  }
  .outlinedRoot:dir(rtl) .inputAdornment {
    margin-left: 5px !important;
  }

  .iconButton {
    margin: 0px !important;
  }
  .icon {
    font-size: 20px !important;
  }


}

@media (max-width: 1280px) {


  .inputLabel {
    font-size: 11px !important;
    padding: 0px !important;
    margin: 0px !important;
  
  }

  .inputBase {
    font-size: 11px !important ;
  }

  .inputBase::placeholder {
    font-size: 11px !important;
  }
  

  .inputLabelShrink{
    font-size: 10px !important;
    top: 3px !important;
   }

  .outlinedRoot {
    height: 28px !important;
  }


}

@media (max-width: 1024px) {
  .outlinedRoot  {
    height: 26px !important;
  }

  .inputLabel {
    line-height: 1rem !important;
    font-size: 9px !important;
    top: -2px !important;
  }

  .inputBase::placeholder {
    font-size: 9px !important;
  }
  
   .inputLabelShrink{
    font-size: 10px !important;
    top: 3px !important;
   }

  .inputBase {
    font-size: 8px !important;
  }
  .outlinedRoot:dir(ltr) .inputAdornment {
    margin-right: -5px !important;
  }
  .outlinedRoot:dir(rtl) .inputAdornment {
    margin-left: -5px !important;
  }
 
  .iconButton {
    margin: -1px !important;
  }
  .icon {
    font-size: 18px !important;

  }

}

@media (max-width: 768px) {
  .outlinedRoot {
    height: 24px !important;
  }

  .inputLabel {
    font-size: 9px !important;
  }

  .inputLabelShrink {
    font-size: 9px !important;
  }

  .inputBase {
    font-size: 9px !important;
  }

  .inputBase::placeholder {
    font-size: 9px !important;
  }
  .iconButton {
    padding: 0px !important;
  }


}

@media (max-width: 480px) {
  .outlinedRoot {
    height: 22px !important;
  }

  .outlinedFieldset {
    border-radius: 2px !important;
  }

  .inputLabel {
    font-size: 8px !important;
  }

  .inputLabelShrink {
    font-size: 8px !important;
  }

  .inputBase {
    font-size: 8px !important;
  }

  .inputBase::placeholder {
    font-size: 8px !important;
  }


}

@media (max-width: 360px) {
  .outlinedRoot {
    height: 20px !important;
  }

  .outlinedFieldset {
    border-radius: 2px !important;
  }

  .inputLabel {
    font-size: 7px !important;
  }

  .inputLabelShrink {
    font-size: 7px !important;
  }

  .inputBase {
    font-size: 7px !important;
  }

  .inputBase::placeholder {
    font-size: 7px !important;
  }

}

