.dropdownHeaderRow,
.dropdownOptionRow {
  padding: 3px 6px !important;
  min-height: 22px !important;
}

.dropdownHeaderCell,
.dropdownHeaderCellMain,
.dropdownOptionCell,
.dropdownOptionCellMain,
.dropdownOptionCellSecondary,
.dropdownOptionSingleText {
  font-size: 0.7rem !important;
  height: 16px !important;
}

@media (min-width: 2049px) and (max-width: 2566px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 5px 10px !important;
    min-height: 34px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.84rem !important;
    height: 26px !important;
  }
}

@media (min-width: 1921px) and (max-width: 2048px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 4px 8px !important;
    min-height: 30px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.8rem !important;
    height: 24px !important;
  }
}

@media (min-width: 1711px) and (max-width: 1920px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 3px 7px !important;
    min-height: 29px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.76rem !important;
    height: 22px !important;
  }
}

@media (min-width: 1601px) and (max-width: 1710px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 3px 6px !important;
    min-height: 27px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.74rem !important;
    height: 21px !important;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 3px 6px !important;
    min-height: 27px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain {
    height: 19px !important;
  }
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    height: 19px !important;
  }
}

@media (min-width: 1153px) and (max-width: 1399px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 2px 5px !important;
    min-height: 24px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.67rem !important;
    height: 18px !important;
  }
}

@media (min-width: 960px) and (max-width: 1152px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 2px 4px !important;
    min-height: 21px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.62rem !important;
    height: 16px !important;
  }

  .dropdownHeaderRow :global(.MuiAutocomplete-noOptions) {
    font-size: 0.2rem !important;
  
  }
}

@media (min-width: 800px) and (max-width: 959px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 3px 3px !important;
    min-height: 19px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.59rem !important;
    height: 16px !important;
  }
}

@media (max-width: 799px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 3px 3px !important;
    min-height: 18px !important;
  }
  .dropdownHeaderCell {
    font-size: 0.56rem !important;
    height: 18px !important;
  }
  .dropdownHeaderCellMain {
    font-size: 0.56rem !important;
    height: 18px !important;
  }
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.56rem !important;
    height: 18px !important;
  }
}

@media (max-width: 640px) {
  .dropdownHeaderRow,
  .dropdownOptionRow {
    padding: 2px 2px !important;
    min-height: 16px !important;
  }
  .dropdownHeaderCell,
  .dropdownHeaderCellMain,
  .dropdownOptionCell,
  .dropdownOptionCellMain,
  .dropdownOptionCellSecondary,
  .dropdownOptionSingleText {
    font-size: 0.54rem !important;
    height: 14px !important;
  }
}
