.dropdownHeaderRow,
.dropdownOptionRow {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px !important;
  line-height: 1.35 !important;
}

.dropdownHeaderRow {
  font-weight: 600 !important;
  border-bottom: 0.1rem solid #b9b9b9 !important;
}

.dropdownHeaderCell {
  font-weight: 600 !important;
}

.dropdownOptionCell,
.dropdownOptionSingleText {
  font-size: 0.72rem !important;
  font-weight: 400 !important;
  line-height: 1.35 !important;

  display: flex;
  align-items: flex-start;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.dropdownPopper :global(.MuiAutocomplete-listbox) {
  padding: 4px !important;
}

.dropdownPopper :global(.MuiAutocomplete-option) {
  min-height: unset !important;
  padding: 4px 10px !important;
  align-items: flex-start !important;
}
