
.root {
  line-height: 1.5 !important; 
}

.root:dir(ltr) {
  padding-left: 10px !important;
  padding-right: 5px !important;
}
.root:dir(rtl) {
  padding-right: 10px !important;
  padding-left: 5px !important;
}


.textAreaEndAdornmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .root{
    padding-block: 5px;
  }

  .root:dir(ltr) {
    padding-left: 5px !important;
   
  }
  .root:dir(rtl) {
    padding-right: 5px !important;
  }

}

@media (max-width: 1024px) {
  .root{
    padding-block: 5px;
  }

  .root:dir(ltr) {
    padding-left: 2px !important;
   
  }
  .root:dir(rtl) {
    padding-right: 2px !important;

  }

}


