.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-top: -12px;
}

.previewBox {
  flex: 1 1 auto;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottomSection {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
