.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: stretch;
}

.previewBox {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.previewImage {
  height: 100%;
  object-fit: cover;
}

.bottomSection {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
