.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.previewBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottomSection { 
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  max-width: 100%;
}
