.lookupContainer {
    width: 100%;
  }
  

  .firstField {
    width: 100%;
  }
  
  .firstField :global(.MuiOutlinedInput-root) {
    height: 33px !important;
  }
  
  .firstField :global(.MuiOutlinedInput-root fieldset) {
    border-color: #959d9e;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .firstFieldWithSecond :global(.MuiAutocomplete-inputRoot) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .noBorder :global(.MuiOutlinedInput-root fieldset) {
    border: none !important;
  }
  
  .firstField :global(.MuiInputLabel-root) {
    font-size: 0.9rem;
  }
  
  .firstField :global(.MuiInputBase-input) {
    font-size: 0.9rem;
    color: black;
  }
  
  .labelUnfocused :global(.MuiInputLabel-root) {
    top: -3px;
  }
  
  .labelFocused :global(.MuiInputLabel-root) {
    top: 0px;
  }
  
  
  .secondField {
    flex: 1;
    display: flex;
    width: 100%;
  }
  
  .secondField :global(.MuiInputBase-root) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .secondField :global(.MuiOutlinedInput-root) {
    height: 33px !important;
  }
  
  .secondField :global(.MuiOutlinedInput-root fieldset) {
    border-color: #959d9e;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .secondField :global(.MuiInputLabel-root) {
    font-size: 0.9rem;
  }
  
  .secondField :global(.MuiInputBase-input) {
    font-size: 0.9rem;
    color: black;
  }
  

  
  .dropdownHeaderCell {
    font-weight: bold;
    font-size: 0.7rem;
    height: 15px;
    display: flex;
  }
  
  .dropdownHeaderCellMain {
    flex: 1;
    font-size: 0.88rem;
    height: 20px;
    display: flex;
    font-weight: bold;
  }
  
  .dropdownHeaderCellSecondary {
    flex: 1;
    font-weight: bold;
  }
  
  .dropdownCell {
    font-size: 0.88rem;
    height: 20px;
    display: flex;
  }
  
  .dropdownCellMain {
    flex: 1;
  }
  
  .dropdownCellSecondary {
    flex: 1;
    font-size: 0.88rem;
    height: 20px;
    display: flex;
  }
  
  
  .iconAdornment {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    inset-inline-end: 4px;
    display: flex;
  }
  
  .iconAdornmentNoBorder {
    top: 52%;
  }
  
  .searchIconButton {
    margin: 0 !important;
    padding: 0 !important;
    pointer-events: none;
  }
  
  .searchIcon {
    cursor: pointer;
    border: 0;
    font-size: 17px!important;
  }
  
  .loadingSpinner {
    margin-top: 40px !important; 
    margin-bottom: 40px !important;
  }
  
  .clearIconButton {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 4px !important; 
    margin-right: 4px !important;
    padding: 0 !important;
  }
  
  .clearIcon {
    border: 0;
    font-size: 17px!important;
  }
  