.lookupContainer {
  width: 100% !important;
}

.firstField {
  width: 100% !important;
}

.firstField :global(.MuiOutlinedInput-root fieldset) {
  border-color: #959d9e !important;
}

.firstFieldWithSecond :global(.MuiAutocomplete-inputRoot) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.secondField :global(.MuiInputBase-root) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


.iconAdornment {
  position: absolute !important;
  top: 42% !important;
  transform: translateY(-50%) !important;
  inset-inline-end: 4px !important;
  display: flex !important;
}

.iconAdornmentNoBorder {
  top: 52% !important;
}

.searchIconButton {
  margin: 0 !important;
  padding: 0 !important;
  pointer-events: none !important;
}

.searchIcon {
  cursor: pointer !important;
  border: 0 !important;
  font-size: 17px !important;
}

.loadingSpinner {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.clearIconButton {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding: 0 !important;
}
.secondField {
  flex: 1 !important;
  display: flex !important;
  width: 100% !important;
}

.clearIcon {
  border: 0 !important;
  font-size: 17px !important;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .searchIcon,
  .clearIcon {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  .searchIcon,
  .clearIcon {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .searchIcon,
  .clearIcon {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .searchIcon,
  .clearIcon {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .searchIcon,
  .clearIcon {
    font-size: 11px !important;
  }
}

@media (max-width: 360px) {
  .searchIcon,
  .clearIcon {
    font-size: 10px !important;
  }
}
