@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600,300');

.frame {
  width: 100%;
  height: 100%;
  display: flex;
}

.card {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #383838;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.bodyCard {
  flex: 1;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.footerCard {
  margin-top: 10px;
}

.sideData {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #231f20;
  border-radius: 15px;
  padding: 5px 10px;
  overflow-y: auto;
}

.sideData::-webkit-scrollbar {
  display: none;
}

.dataHalf {
  background: #444;
  border-radius: 15px;
  border-top: 2px solid #93c6e0;
  margin: 5px 0;
  padding: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #231f20;
  padding: 20px;
  border-radius: 15px;
}

.avatar {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
  background: #444;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #93c6e0;
  inset: -8px;
  transition: transform 1.5s ease-in-out;
}

.circle:nth-child(2) {
  inset: -12px;
}

.avatar:hover .circle:first-child {
  transform: rotate(360deg);
}

.avatar:hover .circle:nth-child(2) {
  transform: rotate(-360deg);
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.span {
  color: #f0f0f0;
  text-align: center;
}

.big {
  font-size: 28px;
  font-weight: 600;
}

.compositeBarContainer {
  padding: 10px;
}

.compositeBarContainer canvas {
  width: 100% !important;
  height: 250px !important;
}

.progressBarsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
