.dropdown {
    width: 29px !important;
    height: 29px !important;
    border-radius: 4px;
    border: 0px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .listbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px;      
  }
  
  .colorBox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--box-color);
    border: 1px solid #ccc;
    margin-inline: 7px !important;
  }


  .dropdown:hover {
    border: 1px solid #000;
  }

  .dropdownBox {
    border-radius: 4px;
    width: 25px !important;
    height: 25px !important;
  }

  .dropdownSelected {
    border: 1px solid !important;
  }


  @media (max-width: 1600px) {

    .colorBox {
      margin-inline: 5px !important;
    }

    .dropdown {
      width: 24px !important;
      height: 24px !important;
    }
    
    .dropdownBox {
      border-radius: 4px;
      width: 20px !important;
      height: 20px !important;
    }
  }

  @media (max-width: 1280px) {
    .colorBox {
      width: 17px !important;
      height: 17px !important;
      margin-inline: 0px !important;
    }

    .dropdown {
      width: 23px !important;
      height: 23px !important;
    }
    
    .dropdownBox {
      border-radius: 4px;
      width: 19px !important;
      height: 19px !important;
    }
    
  }

  @media (max-width: 1024px) {
    .colorBox {
      width: 17px !important;
      height: 17px !important;
      margin-inline: 0px !important;
    }

    .dropdown {
      width: 20px !important;
      height: 20px !important;
    }
    
    .dropdownBox {
      border-radius: 4px;
      width: 16px !important;
      height: 16px !important;
    }
    
  }
  