.clearIconButton {
  padding: 10px !important;
  margin-right: -14px !important;
  min-width: 0 !important;
}

.eventIconButton {
  padding: 2px !important;
  margin-left: 4px !important;
  /* margin-right: -10px !important; */
  min-width: 0 !important;
}

.dateIcon {
  border: 0;
  font-size: 18px !important;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .dateIcon {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  .dateIcon {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .dateIcon {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .dateIcon {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .dateIcon {
    font-size: 11px !important;
  }
}

@media (max-width: 360px) {
  .dateIcon {
    font-size: 10px !important;
  }
}
