.timelineWrapper {
    display: flex;
    height: 180px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #f0f0f0;
  }
  
  .timelineTitle {
    text-align: center;
    display: flex;
  }
  
  .timelineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    margin: 5px;
  }
  
  .timelineContainer::-webkit-scrollbar {
    display: none;
  }
  
  .timelineArrow {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #6673fd;
    z-index: 1;
  }
  
  .timelineArrow::before {
    content: '';
    position: absolute;
    top: -7px;
    right: -1px;
    width: 15px;
    height: 15px;
    border-left: 17px solid #6673fd;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  .timelineItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px; /* same spacing */
    text-align: center;
    z-index: 2;
  }
  
  .timelineContent {
    position: absolute;
    background: #555;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .timelineContentTop {
    bottom: calc(100% + 10px); /* above arrow */
  }
  
  .timelineContentBottom {
    top: calc(100% + 10px); /* below arrow */
  }
  
  .timelineIcon {
    width: 20px;
    height: 20px;
    background: #6673fd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
  }
  