.search-icon {
  font-size: 18px !important;
  border: 0 !important;
  padding: 0px !important;
  margin: 1px !important;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .search-icon {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  .search-icon {
    font-size: 14px !important;
  }
}
@media (max-width: 1024px) {
  .search-icon {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .search-icon {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .search-icon {
    font-size: 11px !important;
  }
}

@media (max-width: 360px) {
  .search-icon {
    font-size: 10px !important;
  }
}
