.customComboTextField :global(.MuiOutlinedInput-root) {
  height: 33px !important; 
}

.customComboTextField :global(.MuiOutlinedInput-root fieldset) {
  border-color: #959d9e;
  border-radius: 6px;
}

.noBorder :global(.MuiOutlinedInput-root fieldset) {
  border: none !important;
}

.customComboTextField :global(.MuiInputLabel-root) {
  font-size: 14px !important;
}

.labelUnfocused :global(.MuiInputLabel-root) {
  top: -3px;
}

.labelFocused :global(.MuiInputLabel-root) {
  top: 0px;
}

.customComboTextField :global(.MuiInputBase-input) {
  font-size: 14px !important;
  color: black;
}

.customComboTextField :global(.MuiAutocomplete-clearIndicator) {
  padding: 0 !important;
  margin: 0 !important;
  visibility: visible;
}

.comboStartIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-left: 4px;
  object-fit: contain;
}

.refreshIconButton {
  padding: 2px !important;
  margin: 0 !important;
  min-width: 0 !important;
}

.customComboTextField :global(.MuiAutocomplete-endAdornment) {
  right: 6px;
  display: flex;
  align-items: center;
  gap: 1px;
}

.customComboTextField :global(.MuiSvgIcon-root) {
  font-size: 18px;
}
.comboHeaderRow {
  border-bottom: 1px solid #ccc;
}

.comboHeaderCell {
  font-weight: bold;
  font-size: 0.7rem;
  height: 15px;
  display: flex;
}

.comboOptionRow {
  display: flex;
  align-items: center;
}

.comboOptionIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.comboOptionCell {
  font-size: 0.88rem;
  height: 20px;
  display: flex;
  align-items: center;
}

.comboOptionSingleText {
  flex: 1;
  font-size: 0.88rem;
  height: 20px;
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 30px !important;
  }

  .customComboTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 5px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 12px !important;
  }

  .labelUnfocused :global(.MuiInputLabel-root) {
    top: -3px;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 12px !important;
    top: 0px;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 12px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 16px;
  }
}

@media (max-width: 1366px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 28px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 11px !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 11px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 26px !important;
  }

  .customComboTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 4px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 10px !important;
  }

  .labelUnfocused :global(.MuiInputLabel-root) {
    top: -2px;
  }

  .labelFocused :global(.MuiInputLabel-root) {
    font-size: 10px !important;
    top: 0px;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 10px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 24px !important;
  }

  .customComboTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 3px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 9px !important;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 9px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 24px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 9px !important;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 9px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 22px !important;
  }

  .customComboTextField :global(.MuiOutlinedInput-root fieldset) {
    border-radius: 2px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 8px !important;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 8px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  .customComboTextField :global(.MuiOutlinedInput-root) {
    height: 20px !important;
  }

  .customComboTextField :global(.MuiInputLabel-root) {
    font-size: 7px !important;
  }

  .customComboTextField :global(.MuiInputBase-input) {
    font-size: 7px !important;
  }

  .customComboTextField :global(.MuiSvgIcon-root) {
    font-size: 10px;
  }
}
