.checkbox :global(.MuiSvgIcon-root) {
  font-size: 15px !important;
}

.errorCheckbox {
  color: #fd3535 !important;
}

.errorCheckbox:global(.Mui-checked) {
  color: #fd3535 !important;
}

.disabledCheckbox:global(.Mui-disabled) {
  opacity: 0.7 !important;
}

.formControl :global(.MuiFormControlLabel-label) {
  font-size: 15px;
}

@media (max-width: 1280px) {
  .formControl :global(.MuiSvgIcon-root) {
    font-size: 13px;
  }
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .formControl :global(.MuiSvgIcon-root) {
    font-size: 12px;
  }
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .formControl :global(.MuiSvgIcon-root) {
    font-size: 11px;
  }
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .formControl :global(.MuiSvgIcon-root) {
    font-size: 10px;
  }
  .formControl :global(.MuiFormControlLabel-label) {
    font-size: 9px;
  }
}
