.tabPanel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  flex: 1 !important;
  position: relative;
  overflow: auto;
  padding: 0px !important;
}

.tabPanel :global(.MuiDialogContent-root) {
  padding: 10px !important;
}

.hidden {
  display: none !important;
}
