.tabPanel {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  min-height: 0 !important;
}

.active {
  flex: 1 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.hidden {
  display: none !important;
}
