.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.overlayFull {
  width: 100%;
  height: 100%;
}

.overlaySpacingCollapsed {
  width: calc(100vw - 10px);
  height: calc(100vh - 40px);
  padding: 0 !important;
}

.overlaySpacingExpanded {
  width: calc(100vw - 310px);
  height: calc(100vh - 40px);
}

.draggableContainer {
  position: relative;
  pointer-events: all;
}

.windowPaper {
  transition: width 0.3s, height 0.3s !important;
  width: var(--window-paper-width);
  height: var(--window-paper-height);
  min-height: 160px;
  display: block;
}

.windowPaperControlled {
  display: flex;
  flex-direction: column;
}

.windowPaper:focus {
  outline: none;
  box-shadow: none;
}

.dialogTitle {
  padding-left: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #231f20;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.dialogTitleDraggable {
  cursor: move;
}

.dialogTitleDefault {
  cursor: default;
}

.titleText {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #ffffff !important;
}

.headerIconButton {
  color: #ffffff !important;
}

.dialogContent {
  flex: 1;
}

.loadingOverlay {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 50px;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@media (max-width: 1600px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.8) !important;
    height: calc(var(--window-paper-height) * 0.85) !important;
  }
  .titleText {
    font-size: 1rem !important;
  }
  .dialogTitle {
    height: 30px;
    padding-left: 13px !important;
  }
}

@media (max-width: 1400px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.75) !important;
    height: calc(var(--window-paper-height) * 0.8) !important;
  }
  .titleText {
    font-size: 0.8rem !important;
  }
  .dialogTitle {
    height: 30px;
    padding-left: 13px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.85);
    height: calc(var(--window-paper-height) * 0.97);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.8);
    height: calc(var(--window-paper-height) * 0.95);
  }

  .titleText {
    font-size: 1rem !important;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.75);
    height: calc(var(--window-paper-height) * 0.9);
  }

  .titleText {
    font-size: 0.95rem !important;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.7);
    height: calc(var(--window-paper-height) * 0.85);
  }

  .titleText {
    font-size: 0.9rem !important;
  }
}

@media (min-width: 376px) and (max-width: 480px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.65);
    height: calc(var(--window-paper-height) * 0.8);
  }

  .titleText {
    font-size: 0.85rem !important;
  }
}

@media (max-width: 375px) {
  .windowPaper[data-expanded='false'] {
    width: calc(var(--window-paper-width) * 0.6);
    height: calc(var(--window-paper-height) * 0.75);
  }

  .titleText {
    font-size: 0.8rem !important;
  }
}
