
.gridButton {
    opacity: 1;
    width: 10px ;
    height: 25px;
    object-fit: contain; 
    min-width: 0 !important; 
  }
  
  .gridButton:hover {
    opacity: 0.7;
  }
  
  .gridButtonImage {
    height: 10px; 
  }

  @media (max-width: 1280px) {
    .gridButton {
      height: 20px;
    }
  }

  @media (max-width: 960px) {
    .gridButton {
      height: 20px;
    }
  }
  