
.gridButton {
    opacity: 1;
    width: 10px ;
    height: auto;
    object-fit: contain; 
    min-width: 0 !important; 
  }
  
  .gridButton:hover {
    opacity: 0.7;
  }
  
  .gridButtonImage {
    height: 10px; 
  }
  