
.gridButton {
    opacity: 1;
    width: auto;
    height: 25px;
    object-fit: contain; 
    min-width: 0px !important; 
    padding: 5px 8px !important;

  }
  
  .gridButton:hover {
    opacity: 0.7;
  }
  
  .gridButtonImage {
    height: 16px; 
    width: 16px; 
  }

  @media (max-width: 1280px) {
    .gridButton {
      height: 20px;
      width: auto;
      min-width: 15px !important;
      padding: 5px 6px !important;
    }
    .gridButtonImage {
      height: 15px; 
      width: 15px; 
    }
  }


  