.buttonContainer {
  position: relative;
  display: inline-block;
  font-size: 22px !important;
}

.buttonContainer:hover .toast {
  opacity: 1;
  top: -40px;
  visibility: visible;
}

.responsiveButton {
  min-width: 0px !important;
  width: auto !important;
  height: 34px !important;
  padding: 4px 7px !important;
}

.responsiveButton img {
  height: 20px !important;
  object-fit: contain;
}

.toast {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333ad;
  color: white;
  padding: 3px 7px;
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s, top 0.3s;
  z-index: 1 !important;
}
@media (min-width: 2049px) and (max-width: 2566px) {
  .responsiveButton img {
    height: 18px !important;
  }
  .responsiveButton {
    width: auto !important;
    height: auto !important;
    font-size: 18px !important;
    padding: 9px 14px !important;
  }
  .responsiveButtonFullWidth {
    height: auto !important;
    font-size: 18px !important;
    padding: 9px 14px !important;
  }
  .toast {
    top: -30px !important;
    font-size: 16px;
  }
}
@media (min-width: 1601px) and (max-width: 2048px) {
  .responsiveButton img {
    height: 18px !important;
  }
  .responsiveButton {
    width: auto !important;
    height: auto !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    padding: 6px 9px !important;
  }
  .responsiveButtonFullWidth {
    height: auto !important;
    border-radius: 7px !important;
    font-size: 16px !important;
    padding: 9px 14px !important;
  }
  .toast {
    top: -30px !important;
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .responsiveButton img {
    height: 18px !important;
  }
  .responsiveButton {
    height: 30px !important;
    border-radius: 5px !important;
    padding: 5px 5px !important;
  }
  .toast {
    top: -30px !important;
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .responsiveButton img {
    height: 17px !important;
  }
  .responsiveButton {
    padding: 9px 9px !important;
  }
  .toast {
    font-size: 13px;
  }
}

@media (max-width: 1280px) {
  .responsiveButton img {
    height: 16px !important;
  }
}

@media (max-width: 1024px) {
  .responsiveButton img {
    height: 15px !important;
  }
  .responsiveButton {
    height: 28px !important;
    font-size: 10px !important;
    border-radius: 5px !important;
    width: auto !important;
    height: auto !important;
    padding: 4px 7px !important;
  }
  .responsiveButtonFullWidth {
    height: auto !important;
    border-radius: 5px !important;
    font-size: 10px !important;
    padding: 5px 5px !important;
  }
  .toast {
    font-size: 12px;
    top: -25px !important;
  }
}

@media (max-width: 768px) {
  .responsiveButton img {
    height: 14px !important;
  }
  .responsiveButton {
    height: 24px !important;
  }
  .toast {
    font-size: 11px;
    top: -22px !important;
    padding: 2px 5px;
  }
}

@media (max-width: 480px) {
  .responsiveButton img {
    height: 12px !important;
  }
  .responsiveButton {
    height: 20px !important;
  }
  .toast {
    font-size: 10px;
    top: -20px !important;
    padding: 2px 4px;
  }
}

@media (max-width: 360px) {
  .responsiveButton img {
    height: 11px !important;
  }
  .responsiveButton {
    height: 18px !important;
  }

  .toast {
    font-size: 9px;
    top: -18px !important;
    padding: 1px 3px;
  }
}
