.parentBox {
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.paper {
  transition: width 0.3s, height 0.3s;
  outline: none;
  box-shadow: none;
}

.dialogTitle {
  cursor: move;
  padding-left: 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
  background-color: #231f20;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
}

.dialogTitleText {
  font-size: 1.2rem;
  font-weight: 600;
  color: white !important;
}

.iconButton {
  color: white !important;
}

.iconButton svg {
  font-size: 1.2rem;
}

.loadingOverlay {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 50px;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@media (max-width: 1600px) {
  .dialogTitle {
    font-size: 1rem !important;
    height: 35px !important;
  }
  .iconButton svg {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 1300px) {
  .dialogTitle {
    font-size: 0.9rem !important;
    height: 30px !important;
  }
  .iconButton svg {
    font-size: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .dialogTitle {
    font-size: 0.5rem;
  }
  .iconButton svg {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .dialogTitle {
    font-size: 0.8rem;
  }
  .iconButton svg {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .dialogTitle {
    font-size: 0.7rem;
  }
  .iconButton svg {
    font-size: 1rem;
  }
}
