.pageRoot {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.centerZone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCard {
  width: clamp(18rem, 28vw, 28rem);
  max-width: 92vw;
}

.loginCardHeader {
  height: clamp(35px, 6vh, 60px);
  padding: clamp(6px, 1.5vh, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  padding: clamp(14px, 2.5vh, 28px) clamp(16px, 2.5vw, 30px) !important;
}

.linksRow {
  margin: 12px 0;
  display: block;
  font-size: 0.75rem;
}

.bottomZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.middleZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.languageRow {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.languageLinks {
  display: flex;
  gap: 12px;
}

.footer {
  font-size: 0.7rem;
  opacity: 0.7;
}
