.contentCenter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginCenter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginCard {
  width: clamp(17rem, 28vw, 28rem);
}

.loginCardHeader {
  height: clamp(35px, 6vh, 60px);
  padding: clamp(6px, 1.5vh, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  padding: clamp(12px, 3vh, 30px) clamp(14px, 3vw, 30px) !important;
}

.linksRow {
  margin: clamp(10px, 2vh, 18px) 0;
  display: flex;
  justify-content: space-between;
  font-size: clamp(9px, 1vw, 13px);
  flex-wrap: wrap;
}

.languageRow {
  padding-bottom: clamp(300px, 3vh, 30px);
  display: flex;
  align-items: center;
  gap: clamp(0.4rem, 1vw, 1rem);
}

.languageLinks {
  display: flex;
  gap: clamp(0.4rem, 1vw, 1rem);
}

.language {
  font-size: clamp(9px, 1vw, 14px);
  color: red !important;
}

.offered {
  font-size: clamp(9px, 1vw, 14px);
}

.footer {
  text-align: center;
  font-size: clamp(9px, 1vw, 12px);
  padding-bottom: clamp(8px, 2vh, 20px);
}

@media (max-width: 768px) {
  .linksRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}
