
.phoneWrapper {
  position: relative;
  width: 100%;
}

.phoneLabel {
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 12px;
  background: white;
  padding: 0 4px;
  font-weight: 500;
  color: #666;
  font-size: 14px !important; 
}

.phoneLabelRequired {
  color: red;
}

.phoneContainer {
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.phoneWrapper .react-tel-input {
  width: 100%;
}

.phoneWrapper .react-tel-input .form-control {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  height: 33px !important;      
  font-size: 14px !important;      
  color: black;
  padding-left: 48px;           
}

.phoneWrapper .special-label {
  display: none;
}


.phoneClearButton {
  position: absolute !important;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px !important;
}

.phoneClearIcon {
  font-size: 18px !important; 
  border: 0 !important;
}



@media (min-width: 1025px) and (max-width: 1600px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 30px !important;
    font-size: 12px !important;
  }

  .phoneLabel {
    font-size: 12px !important;
    top: -3px;
  }

  .phoneClearIcon {
    font-size: 16px !important;
  }

  .phoneContainer {
    border-radius: 5px !important;
  }
}

@media (max-width: 1280px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 28px !important;
    font-size: 11px !important;
  }

  .phoneLabel {
    font-size: 11px !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .phoneClearIcon {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 26px !important;
    font-size: 10px !important;
  }

  .phoneLabel {
    font-size: 10px !important;
    top: -2px;
  }

  .phoneClearIcon {
    font-size: 13px !important;
  }

  .phoneContainer {
    border-radius: 4px !important;
  }
}

/* ≤ 768px */
@media (max-width: 768px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 24px !important;
    font-size: 9px !important;
  }

  .phoneLabel {
    font-size: 9px !important;
  }

  .phoneClearIcon {
    font-size: 12px !important;
  }

  .phoneContainer {
    border-radius: 3px !important;
  }
}

@media (max-width: 480px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 22px !important;
    font-size: 8px !important;
  }

  .phoneLabel {
    font-size: 8px !important;
  }

  .phoneClearIcon {
    font-size: 11px !important;
  }

  .phoneContainer {
    border-radius: 2px !important;
  }
}

@media (max-width: 360px) {
  .phoneWrapper .react-tel-input .form-control {
    height: 20px !important;
    font-size: 7px !important;
  }

  .phoneLabel {
    font-size: 7px !important;
  }

  .phoneClearIcon {
    font-size: 10px !important;
  }
}
