html,
body {
  height: calc(100 * var(--vh)) !important;
  zoom: var(--zoom);
  --zoom: 1;
  --vh: calc(1vh / var(--zoom));
  --vw: calc(1vw / var(--zoom));
}

/* Largest screens */
@media screen and (max-width: 2560px) and (max-height: 1440px) {
  body {
    --zoom: 1;
  }
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

/* Sidebar Styles */
.sidebar {
  padding-left: 10px;
  overflow-y: auto;
  height: 100%;
}

.node {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.folder {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  padding-bottom: 8px;
}

.css-1kwaz16-MuiList-root {
  padding-right: 12px !important;
}

.node.folder {
  background-color: #231f20;
  border-radius: 4px;
}

.node.folder.children {
  background-color: #231f20;
  border-radius: 0;
}

.node.folder.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.file {
  font-size: 14px;
}

.children {
  background-color: #231f20;
}

.node.folder.open .file:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.icon {
  margin-right: 8px;
}

.arrow {
  position: absolute;
  bottom: 2px;
}

.node .text {
  display: flex;
  align-items: center;
  line-height: 0 !important;
}

.css-5chs84-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: #231f20 !important;
}

.MuiTabs-scrollButtons.Mui-disabled {
  display: none;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.ag-theme-alpine .even-row {
  background-color: rgb(238, 238, 238); /* Light gray background for even rows */
}

.ag-theme-alpine .ag-row-hover {
  background-color: rgb(242, 234, 234) !important; /* Hover color */
}

.ag-theme-alpine {
  --ag-alpine-active-color: rgb(59, 57, 57) !important;
  --ag-row-hover-color: rgb(249, 247, 247) !important;
  --ag-selected-row-background-color: #d7d7d7 !important;
}
.ag-theme-alpine .ag-row-selected {
  background-color: #b0b0b0 !important;
}

.ag-theme-alpine {
  z-index: 0;
}

.ag-root-wrapper {
  position: relative;
}

.ag-watermark {
  display: none !important;
}

.special-label {
  top: -10px !important;
  font-size: 0.9rem;
}

.react-tel-input .form-control {
  font-size: 0.9rem !important;
  color: #3a3541de !important;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  height: 1.4375em !important;
  letter-spacing: 0.15px !important;
  padding: 0px;
  font-weight: normal !important;
}
