html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* styles/Sidebar.css */
.sidebar {
  padding-left: 10px;
  overflow-y: auto;
  height: 100%;
}

.node {
  width: '100%';
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.folder {
  font-size: 14px;
  width: '100%';
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: 'red';
  padding-bottom: 8px;
}

.css-1kwaz16-MuiList-root {
  padding-right: 12px !important;
}

.node.folder {
  background-color: #231f20;
  border-radius: 4px;
}

.node.folder.children {
  background-color: #231f20;
  border-radius: 0;
}

.node.folder.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.file {
  font-size: 14px;
}

.children {
  background-color: #231f20;
}

.node.folder.open .file:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.icon {
  margin-right: 8px;
}

.arrow {
  position: absolute;
  right: 8px;
  bottom: 2px;
}

.node .text {
  display: flex;
  align-items: center;
  line-height:0 !important;
}

/***** phone verification *****/


