.contentCenter {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  z-index: 0;
  width: 24vw;
  margin-top: auto;
}

.cardHeader {
  padding-left: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 56, 56);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 50px;
  font-size: 20px !important;
}

.contentButton {
  padding-top: 20px !important;
}

.footer {
  margin-top: auto;
  margin-bottom: 100px;
}

@media (min-width: 1281px) {
  .card {
    width: 25rem;
    margin-top: 300px;
  }
  .cardHeader {
    height: 40px;
    padding: 8px;
  }
  .cardContent {
    padding: 15px 20px 20px !important;
  }
  .imageMail {
    padding: 8px;
  }
  .footer {
    margin-bottom: 200px;
    font-size: 13px !important;
  }
}

@media (max-width: 1280px) {
  .card {
    width: 21rem;
    margin-top: 250px;
  }
  .cardHeader {
    height: 35px;
    padding: 8px;
    font-size: 13px !important;
  }
  .cardContent {
    padding: 15px 20px 20px !important;
  }
  .footer {
    margin-bottom: 200px;
    font-size: 11px !important;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 20rem;
    margin-top: 120px;
  }
  .cardHeader {
    height: 35px;
    padding: 8px;
    font-size: 13px !important;
  }
  .cardContent {
    padding: 15px 20px 20px !important;
  }

  .footer {
    margin-bottom: 200px;
    font-size: 11px !important;
  }
}

@media (max-width: 900px) {
  .card {
    width: 27rem;
  }
  .footer {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .card {
    width: 27rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 25rem;
  }
  .footer {
    font-size: 13px !important;
  }
}

@media (max-width: 480px) {
  .card {
    width: 24rem;
  }
}

@media (max-width: 400px) {
  .card {
    width: 22rem;
  }
}

@media (max-width: 360px) {
  .card {
    width: 20rem;
  }
}
