
.textAreaOutlinedRoot {
}

.textAreaOutlinedFieldset {
  border-color: #959d9e;
  border-radius: 6px;
}

.textAreaInputLabel {
  font-size: 14px !important;
  top: -3px;
}

.textAreaInputLabelFocused {
  font-size: 14px !important;
  top: 0px;
}

.textAreaInputBase {
  font-size: 14px !important;
  color: black;
}

.textAreaClearIcon {
  border: 0 !important;
  font-size: 18px !important;
}

.textAreaEndAdornmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .textAreaOutlinedFieldset {
    border-radius: 5px !important;
  }

  .textAreaInputLabel {
    font-size: 12px !important;
    top: -3px;
  }

  .textAreaInputLabelFocused {
    font-size: 12px !important;
    top: 0px;
  }

  .textAreaInputBase {
    font-size: 12px !important;
  }

  .textAreaClearIcon {
    font-size: 16px !important;
  }
}

@media (max-width: 1280px) {
  .textAreaInputLabel {
    font-size: 11px !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .textAreaInputBase {
    font-size: 11px !important;
  }

  .textAreaClearIcon {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .textAreaOutlinedFieldset {
    border-radius: 4px !important;
  }

  .textAreaInputLabel {
    font-size: 10px !important;
    top: -2px;
  }

  .textAreaInputLabelFocused {
    font-size: 10px !important;
    top: 0px;
  }

  .textAreaInputBase {
    font-size: 10px !important;
  }

  .textAreaClearIcon {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .textAreaOutlinedFieldset {
    border-radius: 3px !important;
  }

  .textAreaInputLabel {
    font-size: 9px !important;
  }

  .textAreaInputLabelFocused {
    font-size: 9px !important;
  }

  .textAreaInputBase {
    font-size: 9px !important;
  }

  .textAreaClearIcon {
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  .textAreaOutlinedFieldset {
    border-radius: 2px !important;
  }

  .textAreaInputLabel {
    font-size: 8px !important;
  }

  .textAreaInputLabelFocused {
    font-size: 8px !important;
  }

  .textAreaInputBase {
    font-size: 8px !important;
  }

  .textAreaClearIcon {
    font-size: 11px !important;
  }
}

/* ≤ 360px */
@media (max-width: 360px) {
  .textAreaOutlinedFieldset {
    border-radius: 2px !important;
  }

  .textAreaInputLabel {
    font-size: 7px !important;
  }

  .textAreaInputLabelFocused {
    font-size: 7px !important;
  }

  .textAreaInputBase {
    font-size: 7px !important;
  }

  .textAreaClearIcon {
    font-size: 10px !important;
  }
}
