.root {
  flex: 1;
}

.agContainer {
  width: 100%;
  height: 100%;
  flex: 1;
}

.agContainer.ag-theme-alpine {
  --ag-header-height: 20px !important;
  --ag-font-size: 0.9rem;
}

.agContainer :global(.ag-header),
.agContainer :global(.ag-header-cell),
.agContainer :global(.ag-header-row) {
  height: 40px !important;
  min-height: 40px !important;
  background: var(--ag-header-bg, #f5f5f5);
}


.agContainer :global(.ag-header-cell-text) {
  font-size: 0.9rem;
}


.agContainer :global(.cellBox) {
  overflow: hidden; 
}


.agContainer :global(.ag-cell) {
  border-right: 1px solid #d0d0d0 !important;
  font-size: 0.8rem !important;
  line-height: 1.1;
  display: flex;
  align-items: center;        
  justify-content: flex-start; 
}

.agContainer :global(.ag-cell-wrapper),
.agContainer :global(.ag-cell-value) {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px  !important;


}

.agContainer :global(.ag-cell .MuiBox-root) {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0 !important;
}

.agContainer :global(.MuiIconButton-root){
  padding: 0 !important;
}

.cellBox,
.cellEditorBox {
  width: 100% !important;
  height: auto;                  
  padding: 0px !important;
  display: flex;
}

.agContainer:dir(ltr) :global(.noCenterCell) {
  padding-right: 0 !important;
}
.agContainer:dir(rtl) :global(.noCenterCell) {
  padding-left: 0 !important;
}

.agContainer :global(.ag-cell.cellBoxCentered) {
  justify-content: center;  
  padding: 0 !important; 
  margin: 0 !important; 
}

.cellEditorBoxCentered {
  justify-content: center;
}
.cellEditorInner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.cellEditorInnerCentered {
  justify-content: center;
}

.actionCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.deleteIcon,
.cellIcon {
  font-size: 1.3rem !important; 
}

.headerCheckboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCheckbox {
  width: 20%;
  height: 20%;
  margin-left: 5px !important;
}

.wrapTextCell :global(.ag-cell-wrapper),
.wrapTextCell :global(.ag-cell-value) {
  white-space: normal;
  line-height: 1.2;
  height: auto;
}

.wrapTextCell .cellBox {
  height: auto;
}

.agContainer :global(.ag-cell.cell-error) {
  border: 1px solid #ff0000 !important;
}

.agContainer :global(.ag-cell.ag-cell-focus:not(.cell-error)),
.agContainer :global(.ag-cell.ag-cell-inline-editing:not(.cell-error)),
.agContainer :global(.ag-cell.ag-cell-inline-editing.ag-cell-focus:not(.cell-error)) {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
  border-radius: 0px !important;
}

.agContainer :global(.ag-cell),
.agContainer :global(.ag-cell-focus),
.agContainer :global(.ag-cell.ag-cell-inline-editing) {
  border-right: 1px solid #d0d0d0 !important;
}

@media (max-width: 1599px) {

  .agContainer.ag-theme-alpine {
    --ag-font-size: 11px;
  }

  .agContainer :global(.ag-header),
  .agContainer :global(.ag-header-cell),
  .agContainer :global(.ag-header-row) {
    min-height: 33px !important;
    height: 33px !important;
  }

  .agContainer :global(.ag-header-cell-text),
  .agContainer :global(.ag-cell) {
    font-size: 11px !important;
  }
}

@media (max-width: 1280px) {
  .agContainer.ag-theme-alpine {
    --ag-header-height: 26px;
    --ag-font-size: 10px;
  }
  
  .agContainer :global(.ag-header-cell) {
    padding-inline: 5px !important;
   
  }


.agContainer:dir(ltr) :global(.noCenterCell:not(.ag-cell-inline-editing)) {
  padding-left: 5px !important;  
}

.agContainer:dir(rtl)  :global(.noCenterCell:not(.ag-cell-inline-editing) ) {
  padding-right: 5px !important;  
}



  .agContainer :global(.ag-header),
  .agContainer :global(.ag-header-cell) {
    height: 29px !important;
    min-height: 29px !important;
  }

  .agContainer :global(.ag-header-cell-text),
  .agContainer :global(.ag-cell) {
    font-size: 10px !important;
  }
}

@media (max-width: 1024px) {
  .agContainer.ag-theme-alpine {
    --ag-font-size: 10px;
  }

  .agContainer :global(.ag-header),
  .agContainer :global(.ag-header-cell){
    height: 29px !important;
    min-height: 28px !important;
  }

  .agContainer :global(.ag-header-cell-text),
  .agContainer :global(.ag-cell) {
    font-size: 9px !important;
  }

}

@media (max-width: 834px) {
  .agContainer.ag-theme-alpine {
    --ag-header-height: 26px;
    --ag-font-size: 9px;
  }

  .agContainer :global(.ag-header),
  .agContainer :global(.ag-header-cell) {
    height: 26px !important;
    min-height: 26px !important;
  }

  .agContainer :global(.ag-header-cell-text),
  .agContainer :global(.ag-cell) {
    font-size: 9px !important;
  }
}


@media (max-width: 1600px) {
  .deleteIcon,
  .cellIcon {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1366px) {
  .deleteIcon,
  .cellIcon {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 1024px) {
  .deleteIcon,
  .cellIcon {
    font-size: 1rem !important;
  }
}

@media (max-width: 768px) {
  .deleteIcon,
  .cellIcon {
    font-size: 0.95rem !important;
  }
}


@media (max-width: 600px) {
  .deleteIcon,
  .cellIcon {
    font-size: 0.9rem !important;
  }
}


@media (max-width: 480px) {
  .deleteIcon,
  .cellIcon {
    font-size: 0.85rem !important;
  }
}


@media (max-width: 375px) {
  .deleteIcon,
  .cellIcon {
    font-size: 0.8rem !important;
  }
}

.agContainer :global(.ag-cell .wrap) {
  white-space: normal;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.agContainer :global(.ag-cell img),
.agContainer :global(.ag-cell svg),
.agContainer :global(.ag-cell .MuiSvgIcon-root) {
  vertical-align: middle;
}
