.buttonContainer {
  position: relative;
  display: inline-block;
}

.buttonContainer:hover .toast {
  opacity: 1;
  top: -40px;
  visibility: visible;
}

.responsiveButton {
  min-width: 50px !important;
  width: 50px !important;
  height: 34px !important;
  padding: '0px';
}

.responsiveButton img {
  height: 20px !important;
  object-fit: contain;
}

.toast {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333ad;
  color: white;
  padding: 3px 7px;
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s, top 0.3s;
  z-index: 1 !important;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .responsiveButton img {
    height: 18px !important;
  }
  .responsiveButton {
    min-width: 43px !important;
    width: 43px !important;
    height: 30px !important;
    border-radius: 7px !important;
  }
  .toast {
    top: -30px !important;
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  .responsiveButton img {
    height: 17px !important;
  }
  .responsiveButton {
    min-width: 40px !important;
    width: 40px !important;
  }
  .toast {
    font-size: 13px;
  }
}

@media (max-width: 1280px) {
  .responsiveButton img {
    height: 16px !important;
  }
  .responsiveButton {
    min-width: 35px !important;
    width: 35px !important;
  }
}

@media (max-width: 1024px) {
  .responsiveButton img {
    height: 15px !important;
  }
  .responsiveButton {
    min-width: 32px !important;
    width: 32px !important;
    height: 28px !important;
  }
  .toast {
    font-size: 12px;
    top: -25px !important;
  }
}

@media (max-width: 768px) {
  .responsiveButton img {
    height: 14px !important;
  }
  .responsiveButton {
    min-width: 28px !important;
    width: 28px !important;
    height: 24px !important;
  }
  .toast {
    font-size: 11px;
    top: -22px !important;
    padding: 2px 5px;
  }
}

@media (max-width: 480px) {
  .responsiveButton img {
    height: 12px !important;
  }
  .responsiveButton {
    min-width: 24px !important;
    width: 24px !important;
    height: 20px !important;
  }
  .toast {
    font-size: 10px;
    top: -20px !important;
    padding: 2px 4px;
  }
}

@media (max-width: 360px) {
  .responsiveButton img {
    height: 11px !important;
  }
  .responsiveButton {
    min-width: 22px !important;
    width: 22px !important;
    height: 18px !important;
  }
  .toast {
    font-size: 9px;
    top: -18px !important;
    padding: 1px 3px;
  }
}
